body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #eee;
  color: rgb(56, 55, 55);
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.content {
  min-height: 100vh;
}

caption {
  visibility: hidden;
}

button {
  outline: 0 !important;
}
